<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0, viewport-fit=cover" name="viewport">
	<meta content="https://michaelspellacy.com/stnick/img/intro.png" property="og:image">
	<meta content="Jolly Old St.Nick" property="og:image:alt">
	<meta content="{{ page.title }}" property="og:title">
	<meta content="{{ page.description }}" name="description">
	<meta content="{{ page.description }}" property="og:description" name="description">
	<link href="css/global.css" rel="stylesheet">
	<link href="favicon.ico" rel="icon">
	<title>{{page.title}} - {{ site.name }}</title>
</head>

<body>

	<main id="page">

		<article>

			{{ content }}

			<p><small><b>ISBN:</b> 9781604332377 1604332379</small></p>

			<p>Learn more about <a href="http://en.wikipedia.org/wiki/A_Visit_from_St._Nicholas">this poem</a> at <a href="http://en.wikipedia.org/wiki/Main_Page">Wikipedia</a></p>

			<hr>

			<p><small>Lovingly recreated so that I could read it to my children every Christmas Eve.</small></p>

			<p><small>&copy; {{ "now" | date: "%Y" }} Copyright <a href="/">Michael Spellacy</a>. All rights reserved.</small></p>

			<p><small>St. Nicholas font designed by <a href="http://www.fontcraft.com/">Scriptorium Fonts</a>.</small></p>

		</article>

	</main>

</body>
</html>
